@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: $white-body;
  font-family: "Nunito Sans", sans-serif;
}

%p {
  color: $black;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

h1 {
  color: $black;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

h2 {
  color: $black;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}

h3 {
  @extend %p;
  font-weight: 400;
}

input {
  @extend %p;
  color: #848484;
  font-size: 400;
}

p {
  @extend %p;
}

span {
  @extend %p;
  font-weight: 300;
}

.dark {
  background-color: $dark-body;

  header {
    background-color: $dark-card;

    h1 {
      color: $white;
    }
  }

  main {
    .filtering {
      #search {
        color: $white;
        background-color: $dark-card;
      }

      ::placeholder {
        color: $white;
      }
    }

    .countries {
      .country {
        background-color: $dark-card;
        .card-info {
          h2,
          p,
          span {
            color: $white;
          }
        }
      }
    }

    button {
      background-color: $dark-card;
      color: $white;
    }

    .details {
      h2,
      p,
      span {
        color: $white;
      }

      .border-countries {
        span {
          background-color: $dark-card;
        }
      }
    }
  }
}

.hidden{
  display: none;
}
